/*
 * Font-Face
 */
@font-face { font-family: 'museo_sans300'; src: url('../fonts/museosans-300-webfont.eot'); src: url('../fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museosans-300-webfont.woff') format('woff'), url('../fonts/museosans-300-webfont.ttf') format('truetype'), url('../fonts/museosans-300-webfont.svg#museo_sans300') format('svg'); font-weight: normal; font-style: normal;}
@font-face { font-family: 'museo_sans500'; src: url('../fonts/museosans-webfont.eot'); src: url('../fonts/museosans-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museosans-webfont.woff') format('woff'), url('../fonts/museosans-webfont.ttf') format('truetype'), url('../fonts/museosans-webfont.svg#museo_sans500') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'museo_sans700'; src: url('../fonts/museosans_0-webfont.eot'); src: url('../fonts/museosans_0-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museosans_0-webfont.woff') format('woff'), url('../fonts/museosans_0-webfont.ttf') format('truetype'), url('../fonts/museosans_0-webfont.svg#museo_sans700') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'museo_sans900'; src: url('../fonts/museosans_1-webfont.eot'); src: url('../fonts/museosans_1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museosans_1-webfont.woff') format('woff'), url('../fonts/museosans_1-webfont.ttf') format('truetype'), url('../fonts/museosans_1-webfont.svg#museo_sans900') format('svg'); font-weight: normal; font-style: normal; }