/*variáveis*/


/*IMG REPLACEMENT*/
@dir-image: '../img';
@url-image-VARIAVEL:%('%s/IMAGEM', @dir-image);

/*IMG REPLACEMENT*/

/*variáveis*/

/*funcoes*/
.no-list-style { list-style: none; margin: 0; padding: 0; }

.museo300 { font-family: museo_sans300; }
.museo500 { font-family: museo_sans500; }
.museo700 { font-family: museo_sans700; }
.museo900 { font-family: museo_sans900; }



/*funcoes*/

